# registry=https://registry.npmjs.org/
# //registry.npmjs.org/:_authToken=${FUNDFLUENT_NPM_TOKEN}
# //registry.npmjs.org/:username=aa-npmjs-admin@fundfluent.io
# //registry.npmjs.org/:_password=+N7tHWb736FyRdB
# //registry.npmjs.org/:email=a0972199950@gmail.com
# //registry.npmjs.org/:always-auth=true